.card {
  display: flex;
  height: 500px;
  width: 300px;
  flex-direction: column;
  border-radius: 2%;
  margin: 2%;
  padding: 20px;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card:hover {
  opacity: 1;
  transition: 0.5s;
  transform: translateY(20px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 20px 30px -8px;
}
.prod_image {
  height: 50%;
  width: 100%;
}
.card_button {
  font-size: medium;
  height: 7%;
  width: 100%;
  color: rgb(190, 107, 155);
  border: 1px solid rgb(190, 107, 155);
  border-radius: 20px;
  transition-duration: 0.3s;
}
.card_button:hover {
  background-color: #be6b9b;
  color: white;
}
.card_hr {
  width: 80%;
  margin: 30px;
}
.para {
  overflow: hidden;
  height: 20%;
  color: rgb(155, 148, 148);
  max-height: 14%;
}
.card_desc {
  height: 40%;
}
.title {
  font-size: large;
  font-weight: bold;
  overflow: hidden;
  height: 19%;
  max-height: 13%;
}
.price {
  font-weight: bold;
  font-size: 15px;
  color: #be6b9b;
}
.span {
  margin: 0 10%;
}
